<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<style>
    .add1 {
        color: black;
        background-color: white;
        padding: 10px 30px;
        margin: 0 auto;
        display: block;
        border-radius: 12px;
    }

    .add1:hover {
        background-color: greenyellow;
    }
</style>
<body>
<h1>User, welcome spring boot security page!</h1>
<br>
<input type="button" value="Выйти" class="add1  btn-outline-success"
       onclick="window.location.href = '/logout'">
<br>
</body>
</html>